<div class="container">
    <h1>Utilisateurs</h1>
 
    <table class="table table-hover">
    <thead>
        <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col">Age</th>
        <th scope="col">Adresse</th>
        <th scope="col">Photo</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <% @utilisateurs.each do |utilisateur| %>
            <tr>     
                <td><%= utilisateur.nom %></td>
                <td><%= utilisateur.prenom %></td>
                <td><%= utilisateur.age %></td>
                <td><%= utilisateur.adresse %></td>
                <td><%= utilisateur.photo %></td>
                <td><%= link_to 'Voir profile', utilisateur, class:"btn btn-primary"%></td>
            </tr> 
        <% end %> 
    </tbody>
    </table>
    <br>
    <%= link_to "Nouveau utilisateurs", new_utilisateur_path, class:"btn btn-secondary"%>
</div>