<div class="container">
    <h1>Nouveau Utilisateur</h1>
            
        <%= form_with model: @utilisateurs do |form| %>
            <div class="field">
                <%= form.label :nom %>
                <%= form.text_field :nom, class:"form-control" %>
            </div>      
            <div class="field">
                <%= form.label :prenom %>
                <%= form.text_field :prenom, class:"form-control" %>
            </div>  
            <div class="field">
                <%= form.label :age %>
                <%= form.number_field :age, class:"form-control" %>
            </div>  
            <div class="field">
                <%= form.label :adresse %>
                <%= form.text_field :adresse, class:"form-control" %>
            </div>  
            <div class="field">
                <%= form.label :photo %>
                <%= form.text_field :photo, class:"form-control" %>
            </div><br>  
            <div class="actions">
                <%= form.submit class:"btn btn-secondary"%>
            </div>
        <% end %>
</div>