<div class="container">
    <h1>Profile</h1>
    <p>
        <strong>Nom :</strong>
        <%= @utilisateurs.nom %>
    </p>
    <p>
        <strong>Prenom :</strong>
        <%= @utilisateurs.prenom %>
    </p>
    <p>
        <strong>Age :</strong>
        <%= @utilisateurs.age %>
    </p>
    <p>
        <strong>Adresse :</strong>
        <%= @utilisateurs.adresse %>
    </p>
    <p>
        <strong>Photo :</strong>
        <%= @utilisateurs.photo %>
    </p>
    <%= link_to "Modifier", edit_utilisateur_path(@utilisateurs.id), class:"btn btn-primary"%>
    <%= link_to "Supprimer", @utilisateurs, method: :delete, data: {confirm: 'Vous etes sur de supprimer ?'}, class:"btn btn-danger"%>
    <a href="/delete/<%= @utilisateurs.id %>" data-method="delete" class="btn btn-danger">Supprimer</a>
</div>
 