<h1>New Article</h1>

           
    <%= form_with model: @articles do |form| %>
        <div>
            <%= form.label :title %>
            <%= form.text_field :title %>
        </div>      
        <div>
            <%= form.label :body %>
            <%= form.text_field :body %>
        </div>  
        <div>
            <%= form.submit %>
        </div>
    <% end %>

